name: SimpleChaos Java Build

on:
  push:
    branches: [ main ]
    paths:
      - 'SimpleChaos/java/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'SimpleChaos/java/**'

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        # ubuntu-latest, windows-latest, macos-latest
        jdk-version: [11]

    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
    
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.jdk-version }}
        distribution: 'temurin'
        cache: maven
    
    - name: Build with Maven
      run: mvn -B install --file SimpleChaos/java/pom.xml